.navbar {
    background-color: #044863;
}

.navbar-logo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a,
button {
    z-index: 1;
}

#form-search .input-group{
    height: 54px;
}

#form-search input{
    border: none;
    border-radius: 0;
}

#form-search button{
    border: none;
    border-radius: 0;
    color: #fff;
    background-color: #e01e1e;
}


.body {
    margin-top: 65px;
    background-color: #edeff0;
    position: relative;
}

.side-bar {
    color: #fff;
    text-decoration: none;
    min-height: 100vh;
}

.side-bar ul {
    list-style: none;
    padding: 0;
}

.side-bar ul li {
    padding: 15px 30px;
}

.side-bar ul .active {
    background-color: #fb474a;
}

.side-bar ul li a {
    color: #fff;
    text-decoration: none;
}

.post {
    text-decoration: none;
    position: relative;
    box-shadow: inset 0px 70px #172e44;
}


.post h3 {
    color: #fff;
    padding: 15px 20px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(49, 49, 49, 0.678));
}

.post h4 {
    color: #fff;
    padding: 15px 20px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(49, 49, 49, 0.678));
}

.header-post {
    position: relative;
}

.view {
    position: absolute;
    background-color: #78d1f7;
    color: #fff;
    padding: 5px 10px;
    top: 0;
    right: -10px;
}

.view::after {
    position: absolute;
    border-left: 10px solid #555;
    border-bottom: 10px solid transparent;
    content: "";
    top: 100%;
    right: 0;
}

.card-footer {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-body{
    position: relative;
}

.card .view{
    top: -15px;
}

.card .badge{
    position: absolute;
    top: 5px;
    left: 5px;
}

.category {
    padding: 10px 0;
    display: inline-block;
    border-bottom: 3px solid #e01e1e;
}

.btn-view-all{
    background-color: #78d1f7;
    color: #fff;
}

.footer{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}